version: "3.9"

services:

  backend:
    build:
      context: ./atbapi
    container_name: atbapi_backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ./my-vite
    container_name: atbapi_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
